In [16]:
import requests
import json
from bs4 import BeautifulSoup
import pandas as pd
from pandas.io.json import json_normalize

Index(['aTime', 'aTimeUTC', 'airlines', 'baglimit.hand_height',
       'baglimit.hand_length', 'baglimit.hand_weight', 'baglimit.hand_width',
       'baglimit.hold_dimensions_sum', 'baglimit.hold_height',
       'baglimit.hold_length', 'baglimit.hold_weight', 'baglimit.hold_width',
       'bags_price.1', 'bags_price.2', 'booking_token', 'cityFrom', 'cityTo',
       'conversion.EUR', 'conversion.GBP', 'countryFrom.code',
       'countryFrom.name', 'countryTo.code', 'countryTo.name', 'dTime',
       'dTimeUTC', 'distance', 'duration.departure', 'duration.return',
       'duration.total', 'facilitated_booking_available', 'flyFrom', 'flyTo',
       'fly_duration', 'found_on', 'has_airport_change', 'hashtags', 'id',
       'mapIdfrom', 'mapIdto', 'nightsInDest', 'p1', 'p2', 'p3', 'pnr_count',
       'price', 'quality', 'route', 'routes', 'transfers',
       'virtual_interlining'],
      dtype='object')

Air tickets

In [21]:
baseurl = 'https://api.skypicker.com/flights?flyFrom=airport:BRS&to=airport:PRG&curr=GBP&dateFrom=19/12/2019&dateTo=23/12/2019&max_stopovers=0&sort=price&asc=1'
GettingData = requests.get(baseurl)
data = json.loads(GettingData.content)
df = json_normalize(data["data"])
df.columns

Index(['aTime', 'aTimeUTC', 'airlines', 'baglimit.hand_height',
       'baglimit.hand_length', 'baglimit.hand_weight', 'baglimit.hand_width',
       'baglimit.hold_dimensions_sum', 'baglimit.hold_height',
       'baglimit.hold_length', 'baglimit.hold_weight', 'baglimit.hold_width',
       'bags_price.1', 'bags_price.2', 'booking_token', 'cityFrom', 'cityTo',
       'conversion.EUR', 'conversion.GBP', 'countryFrom.code',
       'countryFrom.name', 'countryTo.code', 'countryTo.name', 'dTime',
       'dTimeUTC', 'distance', 'duration.departure', 'duration.return',
       'duration.total', 'facilitated_booking_available', 'flyFrom', 'flyTo',
       'fly_duration', 'found_on', 'has_airport_change', 'hashtags', 'id',
       'mapIdfrom', 'mapIdto', 'nightsInDest', 'p1', 'p2', 'p3', 'pnr_count',
       'price', 'quality', 'route', 'routes', 'transfers',
       'virtual_interlining'],
      dtype='object')

In [20]:
df[["price","conversion.EUR"]]

   price  conversion.EUR
0     86              96
1     90             101
2     98             110
3    102             115
4    110             123

,airlinesList,airportsList,all_airlines,all_prices.100-106,all_prices.106-112,all_prices.112-119,all_prices.119-126,all_prices.94-100,all_stopover_airports,best_results,...,ref_tasks,refresh,search_id,search_params.flyFrom_type,search_params.seats.adults,search_params.seats.children,search_params.seats.infants,search_params.seats.passengers,search_params.to_type,time
0,"[{'filterName': 'SU'}, {'filterName': 'TB'}, {...",[],"[SU, TB, LY, AZ, 2C, WF, NATEXPRESS, SN, BA, L...",1,1,1,1,1,[],"[{'sort': 'price', 'price': 96, 'duration': 72...",...,[],[],3c032552-fb6d-4462-9254-ff55e84a744d,airport,1,0,0,1,airport,1