In [1]:
import pandas as pd

In [3]:
data = [[1,2,3],[4,5,6],[7,8,9]]
A = pd.DataFrame(data, columns = ["a", "b","c"])
A

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
data = [[1,2,3],[4,5,6],[7,8,9]]
B = pd.DataFrame(data, columns = ["a", "b","c"])
A.append(B , ignore_index = True)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

In [4]:
import re

In [18]:
st = ["a (b)", "(c) a", "w (a)"]
[re.sub(pattern='((.*))$', repl='', st=i) for i in st]

TypeError: sub() got an unexpected keyword argument 'st'

In [20]:

a={"a":1,"b":2}
a["c"] = 3
a

{'a': 1, 'b': 2, 'c': 3}