In [6]:
import pandas as pd
import numpy as np

1. From an own, predefined table:

In [7]:
data = {'Animal': ['Dog',  'Orangutan', 'Eagle','Pandas', "Elephant"],
        'Name': ['Ellen',  'Adam',  'Joe', 'Eve','Eve'],
        'Legs': [4, 2, 1, 3,4],
        'IsNice': [1,0,0,0,1]}

df = pd.DataFrame(data, columns=['Animal', 'Name', 'Legs', 'IsNice'])

#From a CSV  
df2 = pd.read_csv('your_file.csv', index_col='App', encoding='utf-8')

#From a JSON
df2 = pd.read_csv('your_file.csv', index_col='App', encoding='utf-8')

In [8]:
df

      Animal   Name  Legs  IsNice
0        Dog  Ellen     4       1
1  Orangutan   Adam     2       0
2      Eagle    Joe     1       0
3     Pandas    Eve     3       0
4   Elephant    Eve     4       1

In [9]:
df["Animal"]

0          Dog
1    Orangutan
2        Eagle
3       Pandas
4     Elephant
Name: Animal, dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Animal    5 non-null object
Name      5 non-null object
Legs      5 non-null int64
IsNice    5 non-null int64
dtypes: int64(2), object(2)
memory usage: 240.0+ bytes

In [13]:
df.loc[2][0]

'Eagle'

In [14]:
df.iloc[2][0]

'Eagle'

In [16]:
from pandas.io.json import json_normalize
dfx = [{'id': 1, 'name': {'first': 'Anna', 'last': 'Rich'}},
         {'name': {'given': 'Anna', 'family': 'Broke'}},
         {'id': 2, 'name': {'first': 'Anna', 'last': 'Here'}}]


json_normalize(dfx)

    id name.family name.first name.given name.last
0  1.0         NaN       Anna        NaN      Rich
1  NaN       Broke        NaN       Anna       NaN
2  2.0         NaN       Anna        NaN      Here

In [17]:
#concatenate tables

In [19]:
# pd.concat([df1, df2], ignore_index=True) # ignores the previous indexes

In [21]:
#B) Merging along a given column
# df = pd.merge(df_first, df_second, on='id')

In [22]:
#C) Joining inner, outer, left and right
# df = pd.merge(df1, df2, on='id', how='inner')

2. EDA - Exploratory Data Analysis

In [23]:
df.info()
df.shape
df.columns
df.head
df.describe(include = 'all')  #Let us observe, what do we see here aka interpreting

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Animal    5 non-null object
Name      5 non-null object
Legs      5 non-null int64
IsNice    5 non-null int64
dtypes: int64(2), object(2)
memory usage: 240.0+ bytes

       Animal Name     Legs    IsNice
count       5    5  5.00000  5.000000
unique      5    4      NaN       NaN
top     Eagle  Eve      NaN       NaN
freq        1    2      NaN       NaN
mean      NaN  NaN  2.80000  0.400000
std       NaN  NaN  1.30384  0.547723
min       NaN  NaN  1.00000  0.000000
25%       NaN  NaN  2.00000  0.000000
50%       NaN  NaN  3.00000  0.000000
75%       NaN  NaN  4.00000  1.000000
max       NaN  NaN  4.00000  1.000000

3.sorting data

In [25]:
sorted = df.sort_values(by=['Legs'], ascending=False)

subsetting data

In [ ]:
df[1:]
df.loc[2]
df.iloc[[0],[0]] 
df.iloc[[0, 2, 3]]
df.loc[[0], ['Name']] 
df["Dog":"Eagle"]

4.query data like SQL

In [28]:
# SELECT * FROM df WHERE Legs > 2;
df[df['Legs'] > 2]

# SELECT Animal, Legs FROM df WHERE Legs > 2 and Name = 'Eve';
df[(df['Legs'] > 2) & (df['Name'] == 'Eve')][['Animal', 'Legs']]

# SELECT * FROM df WHERE Legs IN (4,2);
df[df['Legs'].isin([4,2])]

      Animal   Name  Legs  IsNice
0        Dog  Ellen     4       1
1  Orangutan   Adam     2       0
4   Elephant    Eve     4       1

In [27]:
df[(df['Name'] == 'Eve') | (df['Name'] == 'Allen')][['Legs']]

   Legs
3     3
4     4

In [29]:
df['Legs'].sum()
df['Legs'].mean()

2.8

In [30]:
df[df['Legs'] > 2].sum()['Legs']

11

5. Appending and dropping columns in a DataFrame

In [31]:
# Flock amount of legs

df['Flock'] = df['Legs']*12

# Assigning new feature from a list:

color = ['red','blue','brown','blue','orange']
df['Color'] = pd.Series(color)

Dropping columns

In [32]:
df = df.drop(['Name'], axis=1)

6. Applying your functions on columns

In [33]:
(df.pipe(h)
    .pipe(g, arg1=1)
    .pipe(f, arg2=2, arg3=3))

NameError: name 'h' is not defined

In [34]:
df.apply(lambda x: x.max() - x.min())

def function(x):
    return ...
df.apply(function)

TypeError: ("unsupported operand type(s) for -: 'str' and 'str'", 'occurred at index Animal')

In [35]:
df['column'].map(function)
df4.applymap(function)

KeyError: 'column'

In [36]:
def yes_no_recode(value):
    recoded = np.where(value == 1,'Yes','No')
    return recoded
    
df["IsNiceRecoded"] = df["IsNice"].apply(yes_no_recode)

7. Saving your dataset

In [ ]:
df.to_csv('my_df.csv')